<html>
<body>
<h2>“Прошел все курсы на SkillBox. Продаю готовые домашние задания"</h2>
<ul>
<li><p><a href="http://127.0.0.1:8000/advertisements/data-scientist/">Профессия Data Scientist</a></p></li>
<li><p><a href="http://127.0.0.1:8000/advertisements/java-job/">Профессия Java-разработчик</a></p></li>
<li><p><a href="http://127.0.0.1:8000/advertisements/python-job/">Профессия Python-разработчик</a></p></li>
<li><p><a href="http://127.0.0.1:8000/advertisements/test-job/">Профессия Тестировщик</a></p></li>
<li><p><a href="http://127.0.0.1:8000/advertisements/web-job/">Профессия Веб-разработчик</a></p></li>
<ul>
</body>
</html>